#site-container {
  position: relative;
    max-width: 1650px;
    min-width: 470px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding: 0 30px;
    border-left: 1px solid #EAECF0;
    border-right: 1px solid #EAECF0;

    #page-container {
      max-width: 960px;
      display: block;
      margin: 0 auto;
      margin-top: 25px;
      position: relative;
    }
}
