#page-container {
  display: flex;
  margin-top: 25px;
  position: relative;

  &.full {
    max-width: 1450px;
    margin: 25px auto 0 auto;

    #panel {
      display: none;
    }

    #content-container {
      max-width: none;
    }
  }

  &.panel {
    #panel {
      min-width: 270px;
      position: sticky;
      top: 21px;
      height: 500px;
      margin: 75px 40px 0 0;
      background: #F8F9FA;

      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  &.no-panel {
    #panel {
      display: none;
    }

    #content-container {
      margin-left: 310px;

      @media (max-width: 1400px) {
        margin: 0 auto;
      }
    }
  }

  #content-container {
    max-width: 960px;
    flex-grow: 1;
  }

  #edit-toolbar {
    max-width: 960px;
    height: 40px;
    margin: 0 auto;
  }
}
